@import "palette";
@import "utility";

$primary-color: al-color($al-gray,500);
$accent-color: al-color($al-smokeBlue,500);
$gray:          al-color($al-gray,50);
$text-color:    al-color($al-gray,900);

$al-font-family: 'Open Sans', Arial, sans-serif !important;
